:root {
    --main-color: rgba(0,0,0,.2);
    --font-size: 1.25em;
    --bg-color: #f5f5f5;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #fff;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__input,
.nav__menu,
.nav__menu_input,
.nav__menu_listsMore{
    display: none;
}
.nav__menu{
    position: absolute;
    top: 50px;
    border: 1px solid #ccc;
    border-color: var(--main-color);
    box-shadow: 0 2px 10px var(--main-color);
    background: #fff;
    border-radius: 2px;
    max-width: 320px;
    width: 100%;
    max-height: 634px;
    height: 496px;
    overflow-x: hidden;
    overflow-y: auto;
    animation-name: google;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.nav__menu_rect{
    content: "";
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    box-shadow: 0 2px 10px var(--main-color);
    position: absolute;
    left: 6.5px;
    top: -9px;
    z-index: 1;
    height: 0;
    width: 0;
}
.nav__menu .nav__menu_lists{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}
.nav__menu li{
    margin: 1px;
    border-radius: 2px;
    border: 1px solid transparent;
    z-index: 1;
    padding: 1px;
    color: black;
    height: 98px;
    width: 81px;
}
.nav__menu li a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    border: 1px solid transparent;
    display: block;
    transition: all .25s ease;
}
.nav__menu li:hover a{
    border: 1px solid rgba(0,0,0,.2);
}
.nav__menu li:hover .nav__menu_title {
    z-index: 3;
    background: rgba(255,255,255,.9);
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.nav__input_icons{
    padding: 0;
    margin: 0;
    line-height: 0.7;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
}
.nav__input_icon{
    display: block;
    font-size: 0.75em;
    transition: all .5s ease;
}
.nav__input ~ label {
    color: #999999;
}
.nav__input_icons:hover .nav__input_icon{
    color: #000;
}
.nav__input_icon:after,
.nav__input_icon:before{
    position: absolute;
    content: "■";
    right: calc(100% + 1px);
}
.nav__input_icon:after{
    left: calc(100% + 1px);
}
.nav__input:checked ~ label {
    color: #000;
}
.nav__input:checked ~ .nav__menu{
    display: block;
}
.nav__input:checked ~ label::before, .nav__input:checked ~ label::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 31px;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    z-index: 3;
    animation-name: google;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.nav__input:checked ~ label::after {
    border-bottom: 10px solid white;
    top: 32px;
}
.nav__menu_icon{
    margin: 0 auto;
    display: block;
    height: 64px;
    vertical-align: top;
    width: 64px;
    background-image: url(img/sprite.png);
    -webkit-background-size: 64px 2410px;
    background-size: 64px 2410px;
}
.nav__menu_icon-search{
    background-position: 0 -1311px;
}
.nav__menu_icon-map{
    background-position: 0 -207px;
}
.nav__menu_icon-youtube{
    background-position: 0 -550px;
}
.nav__menu_icon-news{
    background-position: 0 -1034px;
}
.nav__menu_icon-gmail{
    background-position: 0 -1103px;
}
.nav__menu_icon-contacts{
    background-position: 0 -2140px;
}
.nav__menu_icon-disk{
    background-position: 0 -2002px;
}
.nav__menu_icon-calendar{
    background-position: 0 -829px;
}
.nav__menu_icon-google{
    background-position: 0 -412px;
}
.nav__menu_icon-translate{
    background-position: 0 -1657px;
}
.nav__menu_icon-photo{
    background-position: 0 -1519px;
}
.nav__menu_title{
    text-align: center;
    display: block;
    line-height: var(--font-size);
    overflow: hidden;
    white-space: nowrap;
    width: 5.25em;
    text-overflow: ellipsis;
}
.nav__menu_input ~ label{
    text-align: center;
    display: block;
    cursor: pointer;
    line-height: 2.5em;
    background-color: var(--bg-color);
}
.nav__menu_listMore {
    animation-name: google;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.nav__menu_input:checked ~ .nav__menu_listsMore{
    display: flex;
    flex-wrap: wrap;
    margin: var(--font-size);
    justify-content: space-between;
}
.nav__menu_input:checked ~label{
    height: 2px;
    width: 80%;
    margin: 0 auto;
}
.nav__menu_input:checked ~label span{
    display: none;
}
@keyframes google {
    from {opacity: 0;}
    to {opacity: 1;}
}



