body {
    background: #edeef0;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(-20deg, #ffffff 0%, #8e88a7 100%);
    height: -webkit-fill-available;
}

.friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.friends-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 30px 0;
}

.friends-search {
    height: 475px;
    width: 250px;
    margin: 30px;
    background-color: yellow;
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.friends-search-header {
    padding: 10px 15px;
    cursor: pointer;
}

.search-wrap-icon {
    padding-left: 33px;
    background: #fff url(../img/search_integration.png) no-repeat;
    height: 21px;
    line-height: 23px;
    font-size: 15px;
}

.search-wrap-options {
    padding: 0px 15px;
}

.search-wrap-options>div {
    width: 100%;
    border-bottom: solid 1px #d6d1d1;
    padding: 5px 0;
}

.search-label-options {
    display: block;
    margin: 6px 0 0;
    padding: 0 0 13px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    color: #656565;
    font-size: 12.5px;
}

.search-input-options {
    display: block;
    width: -webkit-fill-available;
    height: 20px;
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}    

.input-height {
    line-height: 0;
    height: 34px;
}

.reset-button {
    margin-top: 20px;
}

.search-input-age {
    display: inline;
    width: 32%;
    height: 20px;
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user-card {
    height: 140px;
    width: 260px;
    margin: 0 10px 10px 10px;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #e6e0ece8;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.user-card__img {
    width: 40%;
    height: 140px;
    position: relative;
}

.user-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0% 50% 50% 0%;
}

.user-card__cnt {
    padding: 30px 0 0 15px;
    width: 70%;
}

.profile-card__name {
    font-weight: 700;
    font-size: 15px;
    color: #6944ff;
}

.user-card__age {    
    position: absolute;
    color: white;
    font-size: 14px;
    background-color: #6e5dc3;
    top: 0px;
    right: -23px;
    transform: rotate(45deg);
    padding: 4px 25px;
}

.user-card:hover .profile-card__txt {
    left: 60px;
    width: inherit;
}

.shadow-profile__male {
    -webkit-box-shadow: 0px 0px 34px 5px rgba(197,220,235,1);
    -moz-box-shadow: 0px 0px 34px 5px rgba(197,220,235,1);
    box-shadow: 0px 0px 34px 5px rgba(197,220,235,1);
}

.shadow-profile__female {
    -webkit-box-shadow: 0px 0px 34px 5px rgba(235,197,202,1);
    -moz-box-shadow: 0px 0px 34px 5px rgba(235,197,202,1);
    box-shadow: 0px 0px 34px 5px rgba(235,197,202,1);
}
