* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
  color: #686BB1;
}

body, ul, ol, h1, h2, h3, h4, h5, h6, hr, p, figure, nav, button {
  outline: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*main menu*/
.navigation {
  padding: 10px 10px 0 0;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.item__apps {
  background-image: url("../img/icons8-squared-menu-48.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.list__item_bell {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label__input {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
             justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.item__bell_img {
  background-image: url("../img/icons8-bell-48.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.item__avatar_img {
  background-image: url("../img/man.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}

/*PopUp Content*/
.popup {
  display: none;
  position: absolute;
  top: 70px;
  right: 1%;
  width: 340px;
  height: auto;
  max-height: 520px;
  padding-top: 47px;
  border: 2px solid #C0C0C0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  overflow-x: hidden;
}

.popup__menu,
.popup__menu-continue {
    margin-left: 25px;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.popup__item {
    width: 88px;
    height: 88px;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
             align-items: center;
    cursor: pointer;
}

.item__link {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item__text {
    text-align: center;
}

.item__icon {
    width: 48px;
    height: 48px;
    padding: 5px;
    margin: 0 auto;
}

/*More Button*/
.more__label {
    cursor: pointer;
}

.more__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.more__btn {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
}

/*Popup Divider */
.popup__divider {
    display: none;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 1px;
    background-color: #CCCCCC;
}

/*After MoreBtn content*/
.popup__menu-continue {
    display: none;
}

/*Even More Link*/
.even-more__link {
    display: none;
    width: 100%;
    padding: 10px 0 10px 0;
    justify-content: center;
}

/*Settings for state hover/active/focus*/
.list__item_link:hover {
    text-decoration: underline;
}

.even-more__link:hover {
    text-decoration: underline;
}

.list__item_link:active {
    color: #1d8ffa;
}

.list__item_bell:hover,
.label__input:hover {
    background-color: #F8F9FA;
}

.list__item_bell:active,
.label__input:active {
    background-color: #B2B2B2;
}

.check__input:focus ~ .label__input > .item__apps {
    outline: 2px solid #518EF8;
}

.popup__item:hover {
    outline: 1px solid #E4E4E4;
}

.popup__item:active {
    opacity: 0.8;
}

.more__input:hover ~ .more__label > .more__btn {
    background-color: #E4E4E4;
}

.more__input:focus ~ .more__label > .more__btn {
    border: 2px solid #518EF8;
}

.more__input:active ~ .more__label > .more__btn {
    background-color: #B2B2B2;
}

/*Settings for visibility*/
.check__input:checked ~ .popup {
    display: block;
}

.more__input:checked ~ .popup__menu-continue {
    display: flex;
}

.more__input:checked ~ .more__label {
    display: none;
}

.more__input:checked ~ .popup__divider {
    display: flex;
}

.more__input:checked ~ .even-more__link {
    display: flex;
}

/*Icons Images*/
.icon__docs {
    background: url("../img/docs.png") no-repeat center center;
}

.icon__translate {
    background: url("../img/translate.png") no-repeat center center;
}

.icon__plus {
    background: url("../img/o-plus.png") no-repeat center center;
}

.icon__search {
    background: url("../img/search.png") no-repeat center center;
}

.icon__tube {
    background: url("../img/youtube.png") no-repeat center center;
    background-size: contain;
}

.icon__play {
    background: url("../img/play.png") no-repeat center center;
}

.icon__omail {
    background: url("../img/omail.png") no-repeat center center;
}

.icon__drive {
    background: url("../img/drive.png") no-repeat center center;
}

.icon__calendar {
    background: url("../img/calendar.png") no-repeat center center;
}

.icon__mybusinnes {
    background: url("../img/business.png") no-repeat center center;
}

.icon__blogger {
  background: url("../img/blogger.png") no-repeat center center;;
}

.icon__photos {
    background: url("../img/photos.png") no-repeat center center;;
}

.icon__map {
    background: url("../img/map.png") no-repeat center center;;
}

.icon__account {
    background: url("../img/account.png") no-repeat center center;;
}

.icon__contacts {
    background: url("../img/contacts.png") no-repeat center center;;
}

.icon__keep {
    background: url("../img/keep.png") no-repeat center center;;
}

.icon__earth {
    background: url("../img/earth.png") no-repeat center center;;
}

.icon {
    background-size: contain;
}
