@media screen {
    body{
        box-sizing: border-box;
    }
    .burger {
        position: absolute;
        top: 17px;
        right: 10px;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-10px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg)  translate(-11px, -5px);
    }

    .container{
        position: relative;
    }

    .menu{
        position: absolute;
        font-size: 30px;
        color: #8e44ad;
        transform: translate(-300px, 0px);
        transition: 0.5s;
    }

    .menu.open{
        transform: translate(0px, 0px);
    }

    .menu-item{
        background-color: #2c3e50;
        padding-bottom: 5px;
        margin-bottom: 0px;
        border-bottom: 2px solid #34495e;
        cursor: pointer;
    }

    .menu-item:hover{
        background-color: rgba(127, 140, 141,1.0)
    }

    .chosen{
        background-color: rgba(78, 100, 110, 0.623)
    }

    .content-item{
        display: none;
        font-size: 20px;
        background-color: #2c3e50;
        color: #2980b9
    }

    .content-item_image{
        width: 100%;
    }

    .content-item.active{
        display: block;
    } 
}
@media screen and (min-width: 421px) and (max-width: 830px){
    .content-item_image{
        width: 75vh;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content-item_text{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (min-width: 831px) and (max-width: 1199px){
    .burger{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
    .menu{
        width: 30%;
        position: relative;
        transform: none;
    }
    .content{
        width: 70%;
    }
    .content-item_text{
        font-size: 20px;
        padding-right:15%; 
    }
    .content-item_image{
        width: 35%;
        height: auto;
        max-height: 500px
    }
}
@media screen and (min-width: 1200px){
    .burger{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
    .menu{
        width: 20%;
        position: relative;
        transform: none;
    }
    .content{
        width: 80%;
    }
    .content-item_text{
        font-size: 25px;
        padding-right:25%; 
    }
    .content-item_image{
        width: 35%;
        height: auto;
        max-height: 500px
    }
}
