doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		title HTML_CSS_POPUP_MENU
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/ring.png")
	body

		.container
			p MENU HERE! -------->
			label.check-container(for="chekcme")
				span.checkmark
			input.check#chekcme(type="checkbox" name="chekcme")
			input#check-show-more(type="checkbox")
			.mark
			.container-menu
				.sprite-container
					a(href="")
						.sprite
						span Phone
					a(href="")
						.sprite
						span Guard
					a(href="")
						.sprite
						span Document
					a(href="")
						.sprite
						span Maps
					a(href="")
						.sprite
						span Excel
					a(href="")
						.sprite
						span Mark
					a(href="")
						.sprite
						span I`m off
					a(href="")
						.sprite
						span Locked
					a(href="")
						.sprite
						span No no..
					a(href="")
						.sprite
						span School?
					a.hide(href="")
						.sprite
						span I`m off
					a.hide(href="")
						.sprite
						span Locked
					a.hide(href="")
						.sprite
						span No no..
					a.hide(href="")
						.sprite
						span School?
					a.hide(href="")
						.sprite
						span I`m off
					a.hide(href="")
						.sprite
						span Locked
					a.hide(href="")
						.sprite
						span No no..
					a.hide(href="")
						.sprite
						span School?
					a.hide(href="")
						.sprite
						span I`m off
					a.hide(href="")
						.sprite
						span Locked
				label.hide-label(for="check-show-more")
					span.show-text Show More
					span.hide-text Show Less
