doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		title HTML_CSS_POPUP_MENU
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/ring.png")
	body
		.container
			label.check-container(for="chekcme")
				span.checkmark
			input.check#chekcme(type="checkbox" name="chekcme")
			input#check-show-more(type="checkbox")
			.mark
			.container-menu
				.sprite-container
					a(href="")
						.sprite1
						span Phone
					a(href="")
						.sprite2
						span Guard
					a(href="")
						.sprite3
						span Document
					a(href="")
						.sprite4
						span Maps
					a(href="")
						.sprite5
						span Excel
					a(href="")
						.sprite6
						span Mark
					a(href="")
						.sprite7
						span I`m off
					a(href="")
						.sprite8
						span Locked
					a(href="")
						.sprite9
						span No no..
					a(href="")
						.sprite10
						span School?
					a.hide(href="")
						.sprite7
						span I`m off
					a.hide(href="")
						.sprite8
						span Locked
					a.hide(href="")
						.sprite9
						span No no..
					a.hide(href="")
						.sprite10
						span School?
					a.hide(href="")
						.sprite7
						span I`m off
					a.hide(href="")
						.sprite8
						span Locked
					a.hide(href="")
						.sprite9
						span No no..
					a.hide(href="")
						.sprite10
						span School?
					a.hide(href="")
						.sprite7
						span I`m off
					a.hide(href="")
						.sprite8
						span Locked
				label.hide-label(for="check-show-more")
					span.show-text Show More
					span.hide-text Show Less
