doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title HTML_CSS_POPUP_MENU
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/ring.png")
	body
		.container
			input.check.visually-hidden.input#menu(type="checkbox" required name="menu" value="menu")
			label.checkbox-label-wrapper(for="menu")
				span.checkbox-label
					img.icon-menu(src="icon.png" alt="menu-icon")
			.mark
			.container-menu
				.sprite-container
					a.icon(href="#")
						.sprite
						span.icon-text Phone
					a.icon(href="#")
						.sprite
						span.icon-text Guard
					a.icon(href="#")
						.sprite
						span.icon-text Document
					a.icon(href="#")
						.sprite
						span.icon-text Maps
					a.icon(href="#")
						.sprite
						span.icon-text Excel
					a.icon(href="#")
						.sprite
						span.icon-text Mark
					a.icon(href="#")
						.sprite
						span.icon-text I`m off
					a.icon(href="#")
						.sprite
						span.icon-text Locked
					a.icon(href="#")
						.sprite
						span.icon-text No no..
					a.icon(href="#")
						.sprite
						span.icon-text School?
					input.visually-hidden.input2.check-show-more#menu2(type="checkbox" required name="menu" value="menu")
					label.checkbox-label-wrapper2(for="menu2")
						span.checkbox-label2
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide(href="#")
						.sprite
						span.icon-text No no..
					a.icon.hide(href="#")
						.sprite
						span.icon-text School?
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide(href="#")
						.sprite
						span.icon-text No no..
					a.icon.hide(href="#")
						.sprite
						span.icon-text School?
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide.more(href="#") More from...
