doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title HTML_CSS_POPUP_MENU
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/ring.png")
	body
		.container
			input.check.control(type="checkbox")
			.mark
			input.check-show-more(type="checkbox")
			.container-menu
				.sprite-container
					a.icon(href="#")
						.sprite
						span.icon-text Phone
					a.icon(href="#")
						.sprite
						span.icon-text Guard
					a.icon(href="#")
						.sprite
						span.icon-text Document
					a.icon(href="#")
						.sprite
						span.icon-text Maps
					a.icon(href="#")
						.sprite
						span.icon-text Excel
					a.icon(href="#")
						.sprite
						span.icon-text Mark
					a.icon(href="#")
						.sprite
						span.icon-text I`m off
					a.icon(href="#")
						.sprite
						span.icon-text Locked
					a.icon(href="#")
						.sprite
						span.icon-text No no..
					a.icon(href="#")
						.sprite
						span.icon-text School?
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide(href="#")
						.sprite
						span.icon-text No no..
					a.icon.hide(href="#")
						.sprite
						span.icon-text School?
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide(href="#")
						.sprite
						span.icon-text No no..
					a.icon.hide(href="#")
						.sprite
						span.icon-text School?
					a.icon.hide(href="#")
						.sprite
						span.icon-text I`m off
					a.icon.hide(href="#")
						.sprite
						span.icon-text Locked
					a.icon.hide.more(href="#") More from...
