.container {
    width: 266px;
    height: 411px;
    position: absolute;
    display: grid;
    right: 70px;
    top: 20px;
}

.sprite-container {
    position: relative;
    padding: 10px;
    padding-left: 18px;
    top: 0px;
    width: 202px;
    height: 304px;
    display: none;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 76px 76px 76px;
}

.container-menu {
    overflow: scroll;
    height: 360px;
    width: 220px;
    position: absolute;
    padding: 10px 30px 0px 10px;
    top: 40px;
    border: 1px solid #CCCCCCFF;
    box-shadow: 0px 0px 10px -2px black;
    overflow-x: hidden;
    display: none;
}

.mark {
    border-left: 1px solid #CCCCCCFF;
    border-top: 1px solid #CCCCCCFF;
    clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
    position: absolute;
    content: "";
    text-align: center;
    width: 19px;
    height: 19px;
    transform: rotate(45deg);
    right: 48px;
    top: 31px;
    display: none;
    z-index: 2;
    background-color: white;
}

.show-more {
    display: none;
}

.check {
    position: absolute;
    top: 2px;
    left: 74%;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    &::after {
        position: absolute;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-color: #888;
        content: "";
    }

    &:focus::after {
        box-shadow: 0px 0px 1px 1px #A8C9FEFF;
    }
}

.check:checked  .check-show-more {
    display: grid;
}

.check:checked~.container-menu .sprite-container,
.check:checked~.mark,
.check:checked~.container-menu .hide-label,
.check:checked~.container-menu {
    display: grid;
}


.icon {
    display: grid;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 14px;
    margin-top: -7px;
    margin-bottom: 6px;

    &:hover {
        box-shadow: 0px 0px 0px 1px #E5E5E5FF;
    }

    &:focus {
        box-shadow: 0px 0px 1px 1px #A8C9FEFF;
    }
}

.icon-text {
    position: relative;
    top: -10px;
}

.hide,
.hide-label {
    display: none;
}

.check-show-more:checked ~ .hide {
    display: grid;
}

.sprite {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10%;
    left: 20%;
    background-color: #888;
    border-radius: 3px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 20px;
    background-position-y: -5px;
}

.more {
    z-index: 1;
    position: absolute;
    top: 490px;
    width: 300px;
    margin-top: 51px;
    height: 20px;
    left: -20px;
    font-family: Arial;
    font-size: 15px;
    text-align: center;

    &:hover {
        text-decoration: underline;
        box-shadow: none;
    }

    &:focus {
        box-shadow: 0px 0px 1px 1px #A8C9FEFF;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 0px;
    width: 0px;
    margin: -1px;
    padding: 0;
    border: 0;
    top: 50px;
    left: 18px;
}

.checkbox-label-wrapper {
    width: 0px;
    height: 0px;
    cursor: pointer;
    display: flex;
    position: absolute;
}

.icon-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
}

.checkbox-label-wrapper:hover {
    text-decoration: underline;
}

.checkbox-label, .checkbox-label2 {
    width: 16px;
    height: 16px;
    position: absolute;

}

.checkbox-label {
    left: 200px;
}

.checkbox-label2 {
    padding-left: 50px;
}

.checkbox-label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
}

input[type=checkbox]:checked ~ .checkbox-label-wrapper .checkbox-label::after {
    border-color: #00f;
    width: 16px;
    height: 16px;
}

.input:focus ~ .checkbox-label-wrapper .checkbox-label::before {
    box-shadow: 0px 0px 1px 2px #A8C9FEFF;
}
  
.check-show-more {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-color: red;
}

.checkbox-label-wrapper2 {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 50px;
    display: flex;
    position: absolute;
}

.checkbox-label-wrapper2:hover {
    text-decoration: underline;
}
  
.checkbox-label2::before {
    content: 'Show More';
    display: block;
    width: 260px;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    background-color: #E5E5E5FF;
    color: #4F4F4FFF;
    position: absolute;
    top: 320px;
    left: -61px;
}

.check:checked ~ .checkbox-label-wrapper2 .checkbox-label2::after {
    border-color: #00f;
    width: 16px;
    height: 16px;
}

.check-show-more:checked ~ .checkbox-label-wrapper2 .checkbox-label2::before {
    position: absolute;
    left: 1000px;
}

.input2:focus ~ .checkbox-label-wrapper2 .checkbox-label2::before {
    box-shadow: 0px 0px 1px 2px #A8C9FEFF;
}
