.container {
  width: 266px;
  height: 411px;
  position: absolute;
  display: grid;
  right: 70px;
  top: 20px;
}

.check-container {
  width: 0px;
  height: 0px;
}

.sprite-container {
  position: relative;
  padding: 10px;
  padding-left: 18px;
  top: 0px;
  width: 202px;
  height: 304px;
  display: none;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 76px 76px 76px;
}

.container-menu {
  height: 360px;
  width: 220px;
  position: absolute;
  padding: 10px 30px 0px 10px;
  top: 40px;
  border: 1px solid #CCCCCCFF;
  box-shadow: 0px 0px 10px -2px black;
  overflow-y: hidden;
  overflow-x: hidden;
  display: none;
}

.mark {
  border-left: 1px solid #CCCCCCFF;
  border-top: 1px solid #CCCCCCFF;
  clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
  position: absolute;
  content: "";
  text-align: center;
  width: 19px;
  height: 19px;
  transform: rotate(45deg);
  right: 48px;
  top: 31px;
  display: none;
  z-index: 2;
  background-color: white;
}

.check {
  display: none;
  position: relative;
}

.check:checked ~ .container-menu .sprite-container,
.check:checked ~ .mark, .check:checked ~ .container-menu .hide-label,
.check:checked ~ .container-menu {
  display: grid;
}

.checkmark {
  position: absolute;
  opacity: 0.6;
  top: 5px;
  width: 16px;
  height: 16px;
  left: 75%;
  cursor: pointer;
  background-color: #888;
}

.checkmark:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: Arial;
  font-size: 14px;

}

a:focus {
  box-shadow: 0px 0px 1px 1px #A8C9FEFF;
}

span {
  left: -1px;
  position: relative;
  top: -5px;
}

a:hover {
  box-shadow: 0px 0px 0px 1px #E5E5E5FF;
}

.show-text, .hide-text {
  cursor: pointer;
  color: #4F4F4FFF;
  font-family: Arial;
  user-select: none;
  position: absolute;
  display: grid;
  width: 263px;
  height: 30px;
  box-shadow: 0px 0px 0px 1px #E5E5E5FF;
  padding-top: 10px;
  text-align: center;
  top: 329px;
  background-color: #E5E5E5FF;
}

.hide-text {
  display: none;
}

#check-show-more:checked ~ .container-menu label > .show-text {
  display: none;
}

.hide-text:hover {
  text-decoration: underline;
}

#check-show-more:checked ~ .container-menu label > .hide-text {
  top: 560px;
  display: grid;
  background-color: #fff;
}

#check-show-more {
  display: none;
}

#check-show-more:checked ~ .container-menu {
  height: 385px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hide, .hide-label {
  display: none;
}

#check-show-more:checked ~ .container-menu .sprite-container .hide {
  display: grid;
}

.sprite {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10%;
  left: 20%;
  background-color: #888;
  border-radius: 3px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 20px;
  background-position-y: -5px;
}
