@include normalize();

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $base-font;
}

.content {
  flex: 1 0;
}

.container {
  width: 100%;
  padding: 0 15px;

  @include small {
    margin: 0 auto;
    width: 540px;
  }

  @include medium {
    width: 720px;
  }

  @include large {
    width: 960px;
  }

  @include extra {
    width: 1140px;
  }
}

.reset-list {
  list-style-type: none;
}

.reset-link {
  text-decoration: none;
}

.reset-btn {
  border: 0px;
  background: none;
  outline: none;
  &:hover{
    cursor:pointer;
  }
}