.scene {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 460px;
  perspective: 600px;
}

.card {
  width: 260px;
  margin-right: 1%;
  margin-bottom: 5px;
  flex-shrink: 0;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 200px;
  backface-visibility: hidden;
}

.card__face--front {
  text-align: center;
  vertical-align: middle;
}
  
.card__face--back {
  transform: rotateY( 180deg );
  width: 100%;
  height: 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

img{
  margin: 0, auto;
  width: 100%;
  max-height: 100%;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
  