body {
  height: 100%;
  margin: 0;

  background-image: url(../img/back.jpg );
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  height: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;

  width: 910px;
  height: 626;
  min-height: 58%;
  margin: auto;

  border-radius: 5px;
  background-color: #032333;
  box-shadow: 8px 5px 16px 3px;
}

.flip-container {
  margin-top: 28px;
  margin-right: 2%;
  margin-bottom: 10px;
  margin-left: 2%;

	perspective: 1000px;
}

	.toFlip{
		transform: rotateY(180deg);
	}

.flip-container, .front, .back, img {
	width: 117px;
	height: 249px;
}


.flipper {
	position: relative;

	transition: 0.5s;

	transform-style: preserve-3d;
}


.front, .back {
	position: absolute;
	top: 0;
	left: 0;

	backface-visibility: hidden;
}


.front {
	z-index: 2;

	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: 1.5s;

  background-color: rgba(0,0,0,0.4);

  font-family: Roboto;
}
.modal-content {
  position: fixed;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 370px;
  height: 140px;
  margin-top: -100px;

  color: white;
  border-radius: 5px;
  background-color: #032333;
  box-shadow: 1px 1px 5px 1px #000;
}
.modal-up {
  display : flex;

  transition: 1.5s;
}
.modal-content-up {
  margin-top: 348px;

  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content > h2 {
  margin-top: 0;
}
button {
  width: 45%;
  height: 50px;

  cursor: pointer;

  color: white;
  border: 0px;
  border-radius: 5px;
  background-color:#326179;
}
@keyframes animatetop {
  from {margin-top:-300px; opacity:0}
  to {margin-top:348px; opacity:1}
}
