body {
  margin: 0;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
}

nav {
  width: 20%;
}

.header-name {
  display: flex;
  justify-content: center;
  margin: 0px 0px 30px 0px;
  padding: 21px;
  font-size: 37px;
  font-family: cursive;
  background-color: mediumpurple;
}

#list-of-creature {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.creature-dota {
  padding: 15px;
  box-shadow: 0 0 2px black;
  border: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 40px 0px 0px 22px;
  font-size: 23px;
  background-color: mediumpurple;
  font-family: cursive;
  cursor: pointer;
}

.mainBlock {
  width: 60%;
  background-color: mediumpurple;
  margin: 30px 0px 0 90px;
  border-radius: 8px;
}

.content {
  width: 100%;
  margin: 0;
}

.contentBlock {
  width: 100%;
  padding-left: 20px;
}

.contentBlock h2 {
  display: flex;
  justify-content: center;
  margin: 15px auto 20px auto;
  font-size: 27px;
  font-family: cursive;
}

.contentBlock img {
  width: 20%;
  height: 192px;
  float: left;
  margin: 0 5px 5px 0;
  border-radius: 10px;
}

.contentBlock p {
  width: 94%;
  margin: 0px 0px 5px 0px;
  font-size: 22px;
  text-align: justify;
}

@media (max-width: 750px) {
  .creature-dota {
    font-size: 17px;
  }
  #list-of-creature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
  }
  .contentBlock h2 {
    font-size: 18px;
  }
  .contentBlock img {
    width: 48%;
  }
  .contentBlock p {
    font-size: 17px;
  }
  .mainBlock {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
  }
}