.search {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.search__wrapper {
  width: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search__img-container {
  width: 75%;
  padding-bottom: 30px;
  background-size: cover;
}

.search__img {
  width: 100%;
  height: 100%;
}

.search__field-container {
  width: 100%;
  position: relative;
}

.search__field-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background: url("../img/audio.png") center no-repeat;
  background-size: cover;
}


.search__field {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  padding: 13px 45px 13px 30px;
  box-sizing: border-box;
  background: #F1F3F4;
  border-radius: 22px;
  transition: .2s;
  color: #80868b;
  font-size: 14px;

  &:hover,
  &:focus {
    background: #e8eaed;
  }

  &:focus {
    color: darken(#80868b, 10%)
  }
}

@media screen and (max-width: 768px) {
  .search__img-container {
    width: 100%;
  }

}

