@import 'include-media';
$main: #0f162fe6;
$main-dark: #081029;
$Roboto: 'Open Sans', sans-serif;
$Exo: 'Exo 2', sans-serif;
$pos: 2%;
$posout: -40%;
@mixin sidebars($left: false) {
    width: 241px;
    height: 282px;
    $trueposout: $posout;
    @include media(">0px", "<1210px") {
        width: 160px;
    };
    border-radius: 15px;
    background-color: $main;
    position: absolute;
    top: 27.5%;
    transition: 1s;

    @if $left {
        left: $posout;
        } @else {
        right: $posout;
        }
        @include media(">0px", "<845px") {
            top: 54%;
            width: 220px;
        }
}
@mixin sidebarsAct($left: false) {
    @if $left {
        left: $pos;
        } @else {
        right: $pos;
        }
        @include media(">0px", "<845px") {
            @if $left {
                left: $pos +18%;
                } @else {
                right: $pos + 18%;
                }
                @include media(">0px", "<750px") {
                    @if $left {
                        left: $pos +13%;
                        } @else {
                        right: $pos + 13%;
                        }
                }
                @include media(">0px", "<640px") {
                    @if $left {
                        left: $pos;
                        } @else {
                        right: $pos;
                        }
                }
                @include media(">0px", "<460px") {
                    @if $left {
                        left: $pos - 2%;
                        } @else {
                        right: $pos - 2%;
                        }
                }
        }
}

@mixin default-text {
    color: white;
    font-family: $Exo;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-image: url('/img/night.png');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fix-to-max {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 576px;
    height: 490px;
    background-color: $main;
    border-radius: 15px;
    @include media(">0px", "<1210px") {
        width: 476px;
        @include media(">0px", "<845px") {
            margin-top: -94%
        }
    }

}

.search-block {
    display: flex;
    justify-content: space-around;
}
.search-form {
    width: 60%;
    height: 35px;
}
.search {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #081029;
    border: 2.5px solid #252f4e;
    text-align: center;
    color: white;
    font-family: $Roboto;
    font-size: 20px;
    
}
.display-day {
    width: 100%;
    height: 176px;
    margin-top: 20px;
    background-color: #081029;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: $Exo;
}

.icons {
    display: flex;
    justify-content: space-between;
}
.star {
    margin-left: 10px;
    font-size: 35px;
    position: absolute;
}
.star:hover {
    cursor: pointer;
}
.star-active {
    color: yellow;
}
.change-deg {
    width: 38px;
    height: 38px;
    background-color: #252f4e;
    margin-left: 20px;
    margin-top: 22px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    transition: 0.4s;
}
.change-deg:hover, .fav-button:hover {
    cursor: pointer;
    background-color: #2e395d;
    transition: 0.4s;
}
.upper-day, .bottom-day {
    display: flex;
    justify-content: center;
    width: 99%;
    height: 45%;
}
.temp, .city, .humidity, .wind, .feel {
    margin: 20px;
    margin-top: 10px;
    display: flex;
}

.display-week {
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 40%;
    justify-content: space-around;
}

.card {
    width: 86px;
    height: 147px;
    border-radius: 5px;
    background-color: #081029;
    transition: 0.4s;
}

.card:hover {
    background-color: #0c1633;
    cursor: pointer;
    transition: 0.4s;
    margin-top: -7px;
}

.week-day, .week-status, .week-temp {
    color: white;
    font-family: $Roboto;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 8px;
}


.head-side {
    color: white;
    margin: 3px;
    font-family: $Exo;
    text-align: center
}

.city-block {
    height: 39px;
    color: white;
    font-family: $Exo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.city-block-text {
    text-align: center;
}
.city-block:hover {
    background-color: $main-dark;
    cursor: pointer;
}


.fav-button {
    width: 10%;
    height: 38px;
    @include default-text();
    background-color: #252f4e;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.4s;
    h2 {
        margin: 0px;
        margin-top: 2px;
    }
}

.delete-city {
    display: none;
}

.city-block:hover .delete-city {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url('../img/cancel.svg') no-repeat;
    background-size: 15px;
    margin-left: 95px;
    position: absolute;
    border: 0px;
    @include media(">0px", "<1210px") {
        margin-left: 55px;
    };
    cursor: pointer;
}

.city-block:hover .delete-city:hover {
    background: url('../img/cancel-hover.svg') no-repeat;
    background-size: 15px;
}

.history-list-active {
    @include sidebars($left: false);
}

.history-list {
    @include sidebarsAct($left: false);
}
.favorite-list-active {
    @include sidebars($left: true);
}

.favorite-list {
    @include sidebarsAct($left: true)
}