html { overflow-y: scroll; }

* { margin: 0; padding: 0; }

body { 
	font: 16px Arial, serif; 
	color: #fff
}

nav {display: block;}

label {	position: relative;}

ul {list-style-type: none;}

*:focus {outline: 2px solid #aeb5ff;}

.header {
	margin: 10px;
}

.popUpControl,
.moreControl,
.row {
	display: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav_item {
	padding-left: 20px;
}

.link {
	text-decoration: none;
	color: #000;
}

.link:hover,
.button_icon:hover,
.ava:hover {
	opacity: .5;
	cursor: pointer;
}

.button_icon > img,
.ava > img {
	height: 32px;
    width: 32px;
}

.box {
	display: none; 
	position: absolute;
	right: -50px;
	top: 40px;
	background: #9ae2f9;
	border-radius: 10px;
	box-shadow: 0 2px 15px #a39494;
	width: 260px;
	padding: 5px;
	overflow: hidden; 
}

.popUpControl:checked ~ label > .box {
	display: block; 
}

.content_item {
	display: inline-block;
	width: 64px;
	height: 58px;
	text-align: center;
	padding: 9px;
}

.content_item:hover {
	border: 1px solid #d6d6d6;
}

.hide {
	display: none;
}

.moreButton {
    display: block;
    margin-left: 42px;
    background: #a2cbd8;
    border-radius: 7px;
    color: #a39b9b;
    width: 160px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    margin-top: 8px;
}  

.moreButton:hover {
	background: #45ccf9;
	color: #000;
}

.moreControl:checked~.hide {
	display: inline-block;
}

.moreControl:checked~.row {
	display: block;
}

.moreControl:checked~.moreButton {
	display: none;
}

.arrow {
    border-color: transparent;
    border-bottom-color: #9ae2f9;
    border-style: solid;
    border-width: 0 15px 15px;
    display: none;
    position: absolute;
    right: 63px;
    top: 56px;
    z-index: 1;
    height: 0;
    width: 0;
}

.popUpControl:checked ~ .arrow {
	display: block; 
}