body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Candara, sans-serif;
  width: 100%;
  height: 100vh;
  background: url('../img/background_main2.jpg') top center no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 1.6em;
  width: 80%;
  font-family: Candara;
  mix-blend-mode: color-dodge;
  color: lightsalmon;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 450px;
}

.card {
  width: 20%;
  height: 90px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  perspective: 1000px;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  background: url('../img/background_card_front.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  z-index: 2;
  transform: rotateY(0deg);
}

.front:hover {
  box-shadow: 0 0 15px yellow;
}

.back {
  /* width: inherit; */
  border-radius: 5px;
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: inherit;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
}

/* rotate a card*/
.rotate {
  transform: rotateY(180deg);
}

.disabled {
  pointer-events: none;
}

/* hide correct card pair */
.visually-hidden {
  visibility: hidden;
}

.gameScore {
  padding-top: 20px;
  font-size: 1.6em;
  mix-blend-mode: color-dodge;
  color: lightsalmon;
}

.gameResult {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);

  text-align: center;
  padding-top: 150px;
}

.gameResult__title {
  text-transform: uppercase;
  color: yellow;
}

.gameResult__message {
  color: white;
  font-size: 1.6em;
}

.message-try {
  font-style: italic;
}

.hidden {
  display: none;
}

/**Images content **/
.card_poroshenko,
.card_poroshenko2 {
  background-image: url('../img/card_poroshenko.jpg');
}

.card_timoshenko,
.card_timoshenko2 {
  background-image: url('../img/card_timoshenko.jpg');
}

.card_grycenko,
.card_grycenko2 {
  background-image: url('../img/card_grycenko.jpg');
}

.card_zelenskyi,
.card_zelenskyi2 {
  background-image: url('../img/card_zelenskyi.jpg');
}

.card_liashko,
.card_liashko2 {
  background-image: url('../img/card_liashko.jpg');
}

.card_vaider,
.card_vaider2 {
  background-image: url('../img/card_vaider.jpg');
}

@media screen and (min-width: 359px) {
  .card {
    height: 120px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    height: 150px;
  }

  .title {
    font-size: 2em;
    line-height: 0.7em;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 2.5em;
    line-height: 0.5em;
  }
}
