.fonImg {
    margin: 0;
    background: url(../img/fon.jpg) #000;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
}

.logo-wrap {
    height: 60px;
    background-color: black;
    text-align: center;
    background: url(../img/marvel_logo.png) no-repeat;
    background-size: 200px 60px;
}

.menu-wrap {
    width: 200px;
    background: #145b8df2;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 12px;
}

.menu-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-wrap ul li:hover {
    background-color: #ed1d24;
}

.menu-wrap a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 4px solid #ed1d24;
    font-weight: bold;
}

.active {
    background-color: #ed1d24;
}

.main-content {
    background-color: #ffffffd4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 550px;
    border: solid 4px #ed1d24;
    flex-grow: 1;
}

.load-data {
    background: url('../img/cap.png');
    animation: load-data 2s infinite linear;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    position: relative;
    top: 200px;
    display: none;
}

.showLoad {
    display: block;
}

@keyframes load-data {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.hero-wrap {
    background-color: #145b8ddb;
    padding: 0;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 216px;
    max-height: 500px;
    position: relative;
}

.hero-wrap:hover {
    outline: 5px solid #ed1d24;
}

.card-thumb-frame {
    height: 323px;
}

.card-body {
    margin-bottom: 50px;
    border-top: 3px solid #ed1d24;
}

.card-body__headline {
    font-size: 1.25em;
    text-align: left;
    color: #fff;
    margin: 15px 5px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.card-body__comicurl {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.comic-url {
    background-color: #ed1d24;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    width: inherit;
}

.home-page {
    position: relative;
    text-align: center;
    background-color: #145b8ddb;
    width: 100%;
}

.marvel-link {
    position: absolute;
    bottom: 25px;
    width: inherit;
    text-align: center;
    left: 0;
}

.marvel-title {
    color: #e0dada;
}

.marvel-text {
    padding: 30px 30px 0px 30px;
    color: #e0dada;
    font-size: 18px;
}

.marvel-link {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 500px) {
    .fonImg {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .logo-wrap {
        height: 44px;
        background: url(../img/phone_cap.png) no-repeat;
        background-size: 78px 44px;
        width: 74px;
    }
    .menu-wrap {
        width: 100%;
    }
    .menu-wrap ul {
        display: flex;
        margin: -1px;
        padding: 0;
        height: 45px;
    }
    .menu-wrap-list-item {
        display: inline;
    }
    .main-content {
        margin: 10px 0px;
        min-width: 0px;
    }
    .main-container {
        margin: 0px;
    }
    .menu-wrap a {
        border: none;
    }
}

