<section>
  <div class="input-wrapper">
    <label class="input-label">
      <div class="label-text">
        <span>K</span>
        <span>o</span>
        <span>t</span>
        <span>t</span>
        <span>a</span>
        <span>n</span>
        <span>s</span>
      </div>
      <input
        type="text"
        class="main__input"
        placeholder="Введите поисковой запрос или URL"
      />
    </label>
    <div class="btn-wrapper">
      <button class="input-btn reset-btn">Поиск в Kottans</button>
      <button class="input-btn reset-btn">Мне повезёт!</button>
    </div>
  </div>
</section>
