<section>
  <div class="input-wrapper">
    <label for="main__input" class="input-label">
      <span>K</span>
      <span>o</span>
      <span>t</span>
      <span>t</span>
      <span>a</span>
      <span>n</span>
      <span>s</span>
    </label>
    <input
      type="text"
      id="main__input"
      placeholder="Введите поисковой запрос или URL"
    />
    <div class="btn-wrapper">
      <button class="input-btn reset-btn">Поиск в Kottans</button>
      <button class="input-btn reset-btn">Мне повезёт!</button>
    </div>
  </div>
</section>
