.main-nav {
  position: relative;

  padding: 2em 2em;
}

.main-nav__list {
  @include list-reset;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__item {
  position: relative;

  margin-right: 10px;
}

.main-nav__checkbox {
  &:checked ~ .pop-up {
    display: block;
  }
}

.main-nav__link {
  &:hover {
    text-decoration: underline;
  }

  &--user {
    width: 32px;
    height: 32px;

    line-height: 32px;
    text-align: center;
    color: white;

    background-color: coral;
    border-radius: 50%;

    &:hover {
      text-decoration: none;
    }
  }

  &--bell {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 50%;

    &::before {
      content: "";

      display: block;
      width: 20px;
      height: 20px;

      background-image: url("../img/icons.png");
      background-position: -69px -1973px;
    }
  }
}

.main-nav__label {
  display: block;
  width: 30px;
  height: 30px;

  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  background-position: 0 -1800px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.main-nav__checkbox:focus ~ .main-nav__label {
  outline: 2px solid #4d90fe;
}
