* {
  margin: 0;
  padding: 0;
}
.visually__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #edeef3;
  color: #707790;
}

.form {
  background: #fff;
  margin: 4em auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 70%;
}
.form-main {
  margin: 2em auto 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.page_header {
  display: flex;
  justify-content: space-between;
}
.header_logo {
  height: 150px;
  width: 150px;
  margin-top: 5em;
}
.page_header_button_back {
  margin: 10em 0 0 10em;
  background: #edeef3;
}

.page_header_button_forward {
  margin: 10em 10em 0 0;
  background: #edeef3;
}

.button {
  width: 170px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #cccccc;
  box-shadow: none;
  color: #cccccc;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}
.submit_button {
  background: #7ecec6;
  color: white;
}
.button:hover {
  border-color: #6ea9df;
  outline: 1px solid #6ea9df;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(81, 137, 247, 1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(81, 137, 247, 1);
  box-shadow: 0px 0px 5px 3px rgba(81, 137, 247, 1);
}

.form-header {
  display: flex;
  padding: 0 10px;
  border-bottom: 2px solid #ccc;
}

.form-header_titles {
  margin: 1em 0 10px 0;
  text-transform: uppercase;
}
.form-header_status {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}
.form-header_status_title_text {
  padding-left: 35px;
}
.form-header_status_title_text::before {
  content: "";
  background: url("../images/icon-table.png");
  display: block;
  background-size: 27px;
  width: 25px;
  height: 25px;
  margin: 0 0 -1.3em -2.5em;
}
.form-header_info_table {
  margin: 1em 0 0;
}
.form-header_status_table_cell {
  margin: 1.5em;
  padding: 10px 35px 10px 35px;
  text-align: left;
}
.wrapper_form-header_status_content {
  display: flex;
  flex-direction: column;
}
.wrapper_form-header_status_buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-header_info {
  flex: 1;
}
.form-header_info_title {
  text-align: left;
}
.form-header_info_title::before {
  background-image: url("../images/rescue.svg");
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  margin: -0.5em 0 0 -2.5em;
}
.wrapper_form-header_info_content {
  margin: 1em 6em 1em;
}

.wrapper_form-header_info_contacts {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.form-header_submit_button {
  margin: 1em 0 1em;
}

.form-header_print_button {
  margin-bottom: 1em;
  background: #fff;
}

.form-header_radio {
  text-align: center;
}

.form-header_radio_text {
  text-transform: uppercase;
  display: inline-block;
  margin: 2em;
  width: 700px;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.form-radio_choice_type {
  display: flex;
  justify-content: space-around;
}
.form-radio_choice_type_label {
  outline: 1px solid #cccccc;
  height: 260px;
  width: 350px;
  display: block;
  text-align: center;
}
/* .form-radio_choice_type_button {
  outline: 1px solid #cccccc;
  height: 260px;
  width: 350px;
  display: block;
  text-align: center;
} */
.form-radio_choice_type_label:hover {
  outline: 2px solid #6ea9df;
  cursor: pointer;
}

.form-radio_choice_type_image {
  height: 180px;
  width: 160px;
  margin: 1em auto;
}
.form-radio_choice_type_button {
  display: flex;
  flex-direction: column;
}

input[type="radio"]:checked + .form-radio_choice_type_label {
  outline: 5px solid #6ea9df;
}
input[type="radio"]:checked + .form-radio_choice_type_label::after {
  content: "";
  background: url("../images/checked.png") 100% 50% no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  margin: -16em 0 0 21em;
  z-index: 9999;
  position: absolute;
}

.form-main_header_underline {
  width: 500px;
}

.form-upload {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.form-sections_headers_text {
  font-size: 28px;
  margin: 2em 0 2em 40px;
}
.form-sections_headers_text::before {
  content: "1";
  width: 50px;
  height: 50px;
  border: 1px solid #707790;
  border-radius: 50px;
  position: absolute;
  margin: -10px 50px 0 -70px;
  text-align: center;
  line-height: 50px;
}

.form-upload_header::after {
  content: "(Doc,Docx,Text,PDF,Markdown)";
  font-size: 15px;
}
.form-upload_button_label {
  margin-left: 3em;
  margin-bottom: 2em;
  width: 230px;
  text-align: center;
}
.form-upload_button_label_text {
  padding-left: 30px;
  color: #707790;
  text-transform: none;
  font-size: 20px;
  font-weight: lighter;
  line-height: 60px;
}
.form-upload_button_label_text::before {
  content: "";
  background: url("../images/upload-to-cloud-button.svg") 100% 50% no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  z-index: 9999;
  position: absolute;
  margin: 15px 65px 0 12px;
}
.form-upload_table {
  margin:0 6em 0 3em;
  display: block;
  border-radius: 5px;
  border: 2px solid #cccccc;
}
.form-table_cell {
  text-align: left;
  padding: 1em 4em;
  color: #707790;
  text-transform: none;
  font-weight: lighter;
  font-size: 18px;
}
.form-table_cell_headers {
  padding-left: 4.7em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.form-table_cell_file_name::before {
  content: "";
  background: url("../images/icon-table.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  display: block;
  margin: 0 0 -1.5em -1.5em;
}
.form-table_cell_remove::before {
  content: "";
  background: url("../images/waste-bin.svg");
  width: 20px;
  height: 20px;
  display: block;
  background-size: 20px 20px;
  margin: -15px 0 0 20px;
}
.form-table_cell_remove:hover {
  cursor: pointer;
}
.form-language_choice {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
.wrapper_form-selects {
  margin: 2em 0;
  display: flex;
}
.form-language_choice_header {
  margin: 2em 0;
}
.form-language_choice_header::before {
  content: "2";
}
.form-language_choice_header::after {
  content: "";
}

.form-select_tone_header {
  margin-bottom: 10px;
}
.form-select_tone_header::after {
  content: "";
}
.form-select_tone_header::before {
  content: "3";
}

.form-selects {
  background: #fff;
  padding: 10px 4px 10px 50px;
  width: 200px;
  color: #707790;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  margin-right: 3em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select_from::before {
  content: "from";
  position: absolute;
  margin: 1.5em 0 0 -3.5em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.select_to::before {
  content: "to";
  margin-left: -2em;
}
.form-select_custom::after {
  content: "";
  display: block;
  background-color: #ccc;
  width: 2px;
  height: 60px;
  position: absolute;
  margin: -3.6em 0 10em 10em;
}
.form-select_custom::before {
  content: "";
  background: url("../images/down-arrow.svg") no-repeat;
  background-size: 15px;
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  margin: 1.5em -3.5em 1.5em 10.8em;
  z-index: 99999;
}
.form-selects_bottom::after {
  margin-top: -60px;
}
.form-select_add {
  width: 120px;
  background: #fff;
}
.form-select_add_text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: #707790;
}
.form-select_add_text::before {
  content: "";
  background: url("../images/add-plus-button.svg");
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-size: 12px;
  margin: 2px 1em 1.2em 1em;
}
.form-select_remove::after {
  content: "";
  background: url("../images/waste-bin.svg");
  background-size: 25px;
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  margin: -2.5em 0 -1.5em 13em;
}

.form-wrapper_radio_tone_urgent {
  display: flex;
  justify-content: space-between;
}

/* Choose tone  */
.form-select_tone {
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-select_tone_radio_label {
  color: #707790;
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 10px 0 70px;
  margin-left: 2em;
}

input[type="radio"]:checked + .form-select_tone_radio_label {
  outline: 7px solid #6ea9df;
}
input[type="radio"]:checked + .form-select_tone_radio_label::after {
  content: "";
  background: url("../images/checked.png") 100% 50% no-repeat;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -4em 0 3em 8em;
}
.form-select_tone_icon::before {
  content: "";
  width: 25px;
  height: 25px;
  background-size: 25px;
  position: absolute;
  display: block;
  margin: 0 2em 0 -1.5em;
}
.casual::before {
  background: url("../images/chat.svg");
}

.pro:before {
  background: url("../images/suitcase.svg");
}

.formal:before {
  background: url("../images/megaphone.svg");
}

/*Select urgent */

.form-range_urgent {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.form-sections_headers_text_urgent::before {
  content: "4";
}
.form-range_input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}
.form-range_input::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.form-range_input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.form-range_input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #e6f2ff;
  height: 10px;
}
.form-range_input:focus {
  outline: none;
}
.range_text {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orange {
  color: #ffa64d;
  font-size: 16px;
}

.form-range_input::before,
.form-range_input::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #b3d7ff;
  position: absolute;
}

.form-range_input::after {
  position: relative;
  margin-left: -0.8em;
}

.form-range_input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #ffa64d;
  margin-top: -5px;
  box-sizing: border-box;
  z-index: 2999;
  position: relative;
}
.form-range_input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: yellow;
  margin-top: -5px;
  box-sizing: border-box;
  border: 2px solid red;
  z-index: 2999;
  position: relative;
}
.form-range_input::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: yellow;
  margin-top: -5px;
  box-sizing: border-box;
  border: 2px solid red;
  z-index: 2999;
  position: relative;
}
.form-urgent_info {
  margin-top: 3em;
  padding: 2.5em;
  border: 1px solid #b3d7ff;
}
.form-urgent_info_header {
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 3em;
}
.form-urgent_info_header::before {
  content: "";
  background: url("../images/information.svg");
  width: 20px;
  height: 20px;
  background-size: 20px;
  position: absolute;
  display: block;
  margin: 0 2em 0 -1.5em;
}
.form-urgent_info_text {
  margin-top: 2em;
}

/*sign up and choose pay method */

.form-sign_pay_method {
  display: flex;
  flex-direction: column;
}
.form-sign_pay_method_header::before {
  content: "5";
}
.form-sign_pay_method_link {
  margin-bottom: 1em;
  font-size: 18px;
  color: #99bbff;
}
.form-sign_pay_method_inputs {
  padding: 5px 1em 5px;
  margin: 2em 4em 2em 0;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #b3d7ff;
}
.form-sign_pay_method_inputs::placeholder {
  color: #457bad;
}
.form-sign_pay_method_inputs:focus:invalid {
  outline: 2px solid red;
}
.form-sign_pay_method_inputs:focus:valid {
  outline: 2px solid #99bbff;
}
.input_name::before {
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 150px;
  height: 20px;
  margin-top: -9.3em;
  font-size: 12px;
  color: #ccc;
  font-weight: bolder;
}
.title::after,
.input_password_title::after,
.input_email_title::after {
  content: "";
  background: url("../images/not-valid.svg");
  background-size: 30px;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -4.7em -1em 0 16em;
  visibility: hidden;
}
.input_enter_name:focus:invalid ~ .title::after,
.input_password:focus:invalid ~ .input_password_title::after,
.input_email:focus:invalid ~ .input_email_title::after {
  visibility: visible;
}
.input_enter_name:valid ~ .title::after,
.input_enter_name:focus:valid ~ .title::after,
.input_password:valid ~ .input_password_title::after,
.input_password:focus:valid ~ .input_password_title::after,
.input_email:valid ~ .input_email_title::after,
.input_email:focus:valid ~ .input_email_title::after {
  visibility: visible;
  background: url("../images/checked1.png");
  background-size: 28px;
  width: 28px;
  height: 28px;
}
.title::before {
  content: "Full name";
}
.input_email_title::before {
  content: "Email adress";
}
.input_password_title::before {
  content: "Choose a password";
  margin: -9.5em 0 15em 30.5em;
}

.wrapper_form-choose_paysystem {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.form-choose_payment_radio {
  width: 300px;
  height: 110px;
  border: 1px solid #ccc;
  text-align: center;
}
.icon_paymethod {
  width: 100px;
  height: 70px;
  padding-top: 1.2em;
}
.icon_paypal {
  width: 150px;
  height: 100px;
  padding-top: 11px;
}
.icon_amazon {
  width: 170px;
  height: 120px;
  padding-top: 4px;
}
.radio_input_payment:checked + .form-choose_payment_radio {
  outline: 5px solid #6ea9df;
}
.radio_input_payment:checked + .form-choose_payment_radio::after {
  content: "";
  background: url("../images/checked.png") 100% 50% no-repeat;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -7em 0 0 17.7em;
}
.radio_input_payment:checked + .paypal_label::after {
  margin: -8em 0 0 17.7em;
}
.radio_input_payment:checked + .amazon_label::after {
  margin: -9em 0 0 17.7em;
}
.form-choose_payment_radio:hover {
  cursor: pointer;
  outline: 2px solid #99bbff;
}

.wrapper_form-card_number {
  margin: 3em 0;
  display: flex;
}

.input_card_number {
  width: 380px;
  height: 50px;
}
.input_date {
  width: 200px;
}
.input_code {
  width: 100px;
}
.validate_on_focus:focus:invalid {
  outline: 1px solid red;
}
.validate_on_focus:focus:valid {
  outline: 1px solid #6ea9df;
}
.input_card_data_title::before {
  content: "card number";
  text-transform: uppercase;
  display: block;
  width: 150px;
  height: 30px;
  color: #99bbff;
  margin-top: -6.5em;
}
.input_date_title::before {
  content: "expiry date";
  margin-top: -7.3em;
}
.input_card_code_title::before {
  content: "code";
  margin-top: -7em;
}
.form-submit {
  display: flex;
  justify-content: flex-end;
  padding: 2em 8em 5em 0;
}
.form-submit_input {
  margin: 0 3em;
}
.form-label_agree {
  line-height: 60px;
}
.form-label_agree::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #707790;
  margin: 0 0 -2.4em -2em;
}
.form-label_agree::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: none;
  border-right: none;
  position: absolute;
  margin: -2em 0 0 -2em;
  transform: rotate(-45deg);
  transform-origin: top left;
  will-change: width, height;
  box-sizing: border-box;
}
.form-label_agree:hover {
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .form-label_agree::after {
  border-color: #99bbff;
  width: 35px;
  height: 15px;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.wrapper_agree_checkbox {
  margin-right: 1em;
}
.submit_link {
  margin-bottom: 1em;
  font-size: 16px;
  color: #99bbff;
}
.form-footer {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  background: #454964;
}
.form-footer_block {
  margin-top: 5em;
  height: 300px;
  width: 200px;
  color: #ccc;
}
.form-footer_info_header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
}
.form-footer_info_header::before {
  content: "";
  background: url("../images/heart.svg");
  display: block;
  position: absolute;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin: -4px 0 0 -3em;
}
.form-footer_info_text {
  margin: 1em 0;
  font-style: italic;
  line-height: 22px;
}
.office_title::before {
  background: url("../images/compass.svg");
}
.social_links::before {
  background: url("../images/share.svg");
}
.form-footer_list {
  list-style: none;
}
.form-footer_li {
  margin: 1em 0;
}
.footer_social_link {
  text-decoration: none;
  color: #ccc;
}
.footer_social_link::before {
  content: "";
  background: url("../images/facebook-logo-button.svg");
  display: block;
  position: absolute;
  background-size: 17px;
  height: 17px;
  width: 17px;
  margin: 0 0 0 -2em;
}
.twitter::before {
  background: url("../images/twitter-logo.png");
}
.linkedin::before {
  background: url("../images/linkedin-logo.png");
}
.social-links-list {
  padding-inline-start: 30px;
}
.footer_logo {
  height: 150px;
  width: 150px;
}

@media (max-width: 599px) {
  .form {
    width: 100%;
  }
  .form-header {
    flex-direction: column;
  }
  .form-header_status {
    flex-direction: column;
  }
  .form-header_radio_text {
    width: 100%;
    margin: 10px;
  }
  .form-radio_choice_type_label {
    margin-top: 2em;
  }
  .wrapper_form-header_info_content {
    margin: 1em 2em;
  }
  .page_header_button_back,
  .page_header_button_forward {
    margin: 0;
  }
  .form-table_cell_remove::before {
    position: relative;
  }
  .wrapper_form-header_status_content {
    overflow-x: auto;
  }
  .wrapper_form-header_status_buttons {
    text-align: center;
    display: block;
  }
  .form-header_info {
    margin: 2em 2em;
  }
  .form-radio_choice_type {
    flex-direction: column;
  }
  .form-upload_table {
    overflow-x: auto;
  }
  .wrapper_form-selects {
    flex-direction: column;
  }
  .form-wrapper_radio_tone_urgent {
    flex-direction: column;
  }
  .form-range_urgent {
    width: 100%;
  }
  .wrapper_form-choose_paysystem {
    flex-direction: column;
  }
  .wrapper_form-card_number {
    flex-direction: column;
  }
  .form-footer {
    box-sizing: content-box;
    padding-left: 5em;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  .form-footer_block {
    height: 100%;
    width: 100%;
  }
  .footer_logo {
    width: 150px;
    height: 150px;
  }
  .form-footer_info_text {
    margin: 0;
  }
  .form-submit_input {
    margin: 1em 0;
    width: 80%;
  }
  .form-label_agree::before,
  .form-label_agree::after {
    margin-left: 5em;
  }
  .input_password_title::before {
    margin-left: 0;
  }
  .form-submit {
    display: block;
    padding: 0 0 0 2em;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .form {
    width: 100%;
  }
  .form-header {
    flex-wrap: wrap;
  }
  .form-header_status {
    flex-direction: column;
  }
  .form-header_radio_text {
    width: 100%;
    margin: 10px;
  }
  .wrapper_form-header_info_content {
    margin: 1em 2.5em;
  }
  .page_header_button_back{
    margin: 10em 0 0 5em;
  }
  .page_header_button_forward {
    margin: 10em 5em 0 0;
  }
  .form-table_cell_remove::before {
    position: relative;
  }
  .wrapper_form-header_status_content {
    overflow-x: auto;
  }

  .form-radio_choice_type {
    flex-direction: column;
  }
  .form-upload_table {
    overflow-x: auto;
  }
  .wrapper_form-selects {
    flex-direction: column;
  }
  .form-wrapper_radio_tone_urgent {
    flex-direction: column;
  }
  .form-range_urgent {
    width: 100%;
  }
  .wrapper_form-choose_paysystem {
    flex-direction: column;
  }
  .wrapper_form-card_number {
    flex-direction: column;
  }
  .form-footer {
    padding-left: 5em;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  .form-submit_input {
    margin: 1em 0;
    width: 80%;
  }
  .form-label_agree::before,
  .form-label_agree::after {
    margin-left: 5em;
  }
  .input_password_title::before {
    margin-left: 0;
  }
  .form-submit {
    display: block;
    padding: 0 0 0 2em;
    text-align: center;
  }
  .form-footer_block {
    height: 100%;
    width: 100%;
  }
  .footer_logo {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 900px) {
  .form {
    width: 100%;
  }
  .form-main {
    margin: 2em 3em;
    width: 90%;
  }
  .form-radio_choice_type {
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-around;
  }
  .page_header_button_back{
    margin: 10em 0 0 5em;
  }
  .page_header_button_forward {
    margin: 10em 5em 0 0;
  }
  .form-radio_choice_type_label {
    width: 280px;
  }
  .form-submit {
    display: flex;
    justify-content: center;
  }
  .form-submit_input {
    margin-right: 2em;
    width: 170px;
  }
  .wrapper_form-selects {
    flex-direction: row;
  }
  .wrapper_agree_checkbox {
    padding-top: 30px;
  }
  .form-wrapper_radio_tone_urgent {
    flex-direction: row;
  }
  input[type="radio"]:checked + .form-radio_choice_type_label::after {
    margin: -16em 0 0 16em;
  }
  .input_password_title::before {
    margin: -9.5em 0 15em 30.5em;
  }
  .form-range_urgent {
    margin-left: 4em;
  }
  .form-upload_table {
    overflow-x: hidden;
  }

  .form-label_agree::before,
  .form-label_agree::after {
    margin-left: -2em;
  }
  .input_card_data_title::before {
    margin: 0.5em 0 0 -27.5gem;
  }
  .input_card_code_title::before {
    margin-left: -10em;
  }
  .input_date_title::before {
    margin-left: -16em;
  }
  .form-header_info {
    flex: initial;
  }
  .wrapper_form-choose_paysystem {
    flex-direction: row;
    width: 100%;
  }
  .input_password_title::after {
    margin: -4.7em -1em 0 39em;
  }
  .wrapper_form-card_number {
    flex-direction: row;
  }
  .form-footer {
    flex-direction: row;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .form {
    max-width: 1200px;
  }
  .form-main {
    margin: 2em 3em;
    width: 90%;
  }
  .form-header_info {
    margin-left: 1em;
    height: 100%;
    flex: 1;
    border-left: 2px solid #ccc;
    padding-left: 10px;
  }
  .page_header_button_back{
    margin: 10em 0 0 5em;
  }
  .page_header_button_forward {
    margin: 10em 5em 0 0;
  }
  .wrapper_form-header_status_buttons {
    padding-top: 20px;
  }
  .form-radio_choice_type {
    margin-top: 2em;
  }
  input[type="radio"]:checked + .form-radio_choice_type_label::after {
    position: absolute;
  }
  .form-header_status {
    flex: initial;
  }
  .form-submit {
    justify-content: flex-end;
  }

  .form-submit_input {
    margin-right: 2em;
  }
  .form-footer_info_text {
    width: 300px;
  }
  .footer_logo {
    margin-right: 3em;
  }
}

@media (min-width: 1800px) {
  .form {
    min-width: 1400px;
  }
  .form-main {
    margin: 2em auto;
    width: 1200px;
    padding: 0 6em;
  }
  .footer_logo {
    margin-right: 8em;
  }
  .form-header_info {
    height: 190px;
  }
}
