header {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 0 0 7px 7px;
}
.menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn_active span {
  height: 0;
}
.menu-btn_active span:before {
  transform: rotate(45deg);
}
.menu-btn_active span:after {
  transform: rotate(-45deg);
}
body  {
  margin: 0;
}
.body {

}
.sortmenu {
  z-index: 2;
  position: relative;
  background-color: skyblue;
  display: none;
  flex-direction: column;
  text-align: center;
  width: 12%;
  height: 35%;
  border: 1px solid black;
  border-radius: 0 0 7px 7px;
  margin: 0;
  float: left;
}
.show_aside {
  display: flex;
}
.sortmenu div{
  margin: 5px;
}
.card {
  margin: 5px;
  border: solid 1px skyblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  background-color: skyblue;
  text-transform: capitalize;
}
.card:hover {
  background-color: pink;
}
.card img {
  border-radius: 50%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
