body {
    font-size: 16px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
}

.nav {
    display: block;
    height: auto;
}

.menu {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

.nav-item-menu {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 8px;
}

.menu img,
.button {
    width: 24px;
    height: 24px;
}

.user-avatar {
    width: 36px;
    height: 36px;
}

.pop-up,
.MoreApps {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.MoreApps:after {
    content: "More";
    display: block;
    margin-top: 10px;
    margin-left: 0;
    line-height: 35px;
    text-align: center;
    width: 273px;
    font-size: 16px;
    cursor: pointer;
}

.pop-up {
    background: url(../images/burger-menu.png);
    background-size: cover;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.pop-up:checked ~ label:after {
    content: "";
    width: 0;
    height: 0;
    top: 51px;
    right: 123px;
    position: absolute;
    border-style: solid;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #d4d4d4;
    border-color: transparent transparent #e6e6e6 transparent;
}

.menu:hover {
    cursor: pointer;
}

.nav-item:hover,
.button:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.iconsContainer {
    display: none;
    position: absolute;
    width: 280px;
    height: 362px;
    top: 66px;
    right: 26px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.list-items,
.more-items {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.inside-item,
.hidden {
    display: flex;
    justify-content: center;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px 0 5px;
}

.inside-item a:hover {
    outline: 1px solid #a1a1a1;
    cursor: pointer;
}

.space:hover {
    outline: none;
}

.menu a,
.list-items a,
.more-items a {
    text-decoration: none;
    color: #111;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.inside-item a:focus {
    outline: 1px solid #3f56fb;
}

.inside-item img,
.more-items img {
    display: block;
    width: 48px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.items-description {
    margin-top: 5px;
    text-align: center;
}

.pop-up:checked ~ .iconsContainer {
    display: block;
}

.more-items {
    display: none;
    border-top: 3px solid #eee;
}

.MoreApps:checked {
    display: none;
}

.MoreApps:checked ~ .line {
    display: inline-block;
}

.MoreApps:checked ~ .more-items {
    display: flex;
}

.nav-item a:focus,
.pop-up:focus,
.MoreApps:focus {
    outline: 2px solid brown;
}
