body {
    font-size: 16px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
}

.nav {
    display: block;
    height: auto;
}

.menu {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

.menu img,
.button {
    width: 24px;
    height: 24px;
}

.user-avatar {
    width: 36px;
    height: 36px;
}

.popup-triangle {
    display: none;
    position: absolute;
    top: 55px;
    right: 116px;
    width: 0;
    height: 0;
    z-index: 2;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #d4d4d4;
}

.empty {
    position: absolute;
    top: 2px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.pop-up,
.MoreApps {
    position: absolute;
    overflow-y: auto;
    clip: rect(0 0 0 0);
}

.button {
    margin-left: 20px;
    background-image: url(../images/burger-menu.png);
    background-size: cover;
    cursor: pointer;
}

.menu:hover {
    cursor: pointer;
}

.nav-item:hover,
.button:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.iconsContainer {
    display: none;
    position: absolute;
    width: 280px;
    height: 362px;
    top: 66px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.list-items,
.more-items {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.inside-item,
.hidden {
    display: flex;
    justify-content: center;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px 0 5px;
}


.inside-item a:hover {
    outline: 1px solid #a1a1a1;
}

.space:hover {
    outline: none;
}

.menu a,
.list-items a,
.more-items a {
    text-decoration: none;
    color: #111;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.inside-item a:focus {
    outline: 1px solid #3f56fb;
}

.inside-item img,
.more-items img {
    display: block;
    width: 48px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.items-description {
    margin-top: 5px;
    text-align: center;
}

.pop-up:checked~.iconsContainer {
    display: block;
}

.pop-up:checked~.popup-triangle {
    display: block;
}

.MorePopUp {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    line-height: 35px;
    text-align: center;
    width: 280px;
    background-color: #eee;
    font-size: 16px;
}

.more-items,
.line {
    display: none;
}

.line {
    color: #eee;
    width: 200px;
    margin-left: 40px;
    opacity: 0.5;
}

.MoreApps:checked~.MorePopUp {
    display: none;
}

.MoreApps:checked~.line {
    display: inline-block;
}

.MoreApps:checked~.more-items {
    display: flex;
}