*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

.nav__item,
.modal-window__item,
.item,
.modal-window__link :visited {
   text-decoration: none;
}

.nav__item,
.modal-window__item,
.item,
.modal-window__link {
   text-decoration: none;
}

html,
body {
   height: 100%; 
}

 html {
   font-size: inherit;  
 }

 body {
   font-family: "Arial", "Helvetica", sans-serif;
   background-color: rgba(233, 215, 250, 0.489);
   font-size: 20px;

}

*:focus {
   outline: 1px solid rgb(103, 103, 208);
}

 .wrapper {
   min-height: 100%; 
   overflow-x: hidden;
}

[class*="__container"] {
   max-width: 1020px;
   margin: 0 auto;
}

.header {
   margin-top: 50px;
   padding: 0 15px;
}

.nav {
   padding: 0 30px;
   background: #FFFFFF;
   border-radius: 10px;
   box-shadow: 0px 1px 2px #0000008d;
   display: flex;
   column-gap: 50px;
   align-items: center;
   justify-content: space-between;
   position: relative;
}


.nav__links {
   list-style: none;
   display: flex;
}
.nav__item {
   letter-spacing: 0.15px;
   line-height: 2.5;
}
.nav__link {
   display: inline-block;
   padding: 0 30px;
   color: #000000c7;
   text-decoration: none;
}

.nav__item:hover {
   background-color: #e89ae838;
}

@media (max-width: 991px) {
   .nav__links {
      flex-wrap: wrap;
   }
}

.popup-button {
   width: 30px;
   height: 30px;
   position: relative;
}

.popup-button__input {
   position: absolute;
   opacity: 0;
}

.popup-button__lable {
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   height: 30px;
   background: url(images/icons/popup-button.png) 0 0 / 30px no-repeat;
}

.popup-button__lable:hover {
   cursor: pointer;
   box-shadow: 0px 2px 5px #c559b6f6;
}

.popup-button__input:checked ~ .modal-window {
   opacity: 1;
}

.modal-window { 
   position: absolute;
   right: -30px;
   top: 100px;
   min-width: 450px;
   height: 448px;
   overflow-y: auto;
   background: #ffffff;
   opacity: 0;
}

.modal-window__items {
   list-style: none;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap:50px;
   column-gap: 10px;
   margin: 50px 0;
}

.modal-window__element {
   flex: 0 0 30%;
}

.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 15px;
   border: 1px solid transparent;
}

.item__img {
   width: 70px;
   height:70px;
}

.item__name {
   color: #000000c7;
}

.more-input {
   position: absolute;
   opacity: 0;
}

.more-label {
   display: flex;
   justify-content: center;
   align-items: center; 
   background-color: #e8e3e3;
   padding: 15px 0;
   border: 1px solid transparent; 
   margin: 0 2px;
}

.more-label:hover {
   cursor: pointer;
   border: 1px solid transparent;
   background-color: #e89ae838;
}

.modal-window__items_extra {
   display: none;
}

.more-input:checked ~ .modal-window__items_extra {
   display: flex;
} 
.more-input:checked + .more-label {
   display: none;
}

.item:hover,
.more-label:hover
 {
   outline: 1px solid rgb(148, 144, 144);
}

.more-input:focus + .more-label,
.popup-button__input:focus + .popup-button__lable {
   outline: 2px solid rgb(103, 103, 208);
}

.modal-window__link {
   padding: 0px 30px;
   font-size: 24px;
   letter-spacing: 0.15px;
   line-height: 2.5;
   color: #000000c7;
}

.modal-window__link:hover {
   background-color: #e89ae838;
}

@media (max-width: 767.98px) {
   .modal-window { 
      top: 100px;
      min-width: 400px;
      height: 318px;
   }
   .modal-window__items {
      margin: 20px 0;
      row-gap: 30px;
   }
   .item__img {
      width: 50px;
      height:50px;
   }
   .item__name {
      font-size: 16px;
   }
}

@media (max-width: 540.98px) {
   .modal-window {
      top: 140px;
      min-width: 350px;
      height: 292px;
   }
   .modal-window__items {
      justify-content: center;
      row-gap: 20px;
      margin: 10px 0;
   }
   .modal-window__element {
      flex: 0 1 45%;
   }
   .item {
      row-gap: 5px;
   }
   .item__img {
      width: 30px;
      height:30px;
   }
   .more-label {
      padding: 10px 0;
   }
   .modal-window__link {
      font-size: 16px;
   }
}

@media (max-width: 400.98px) {
   .modal-window {
      top: 200px;
      min-width: 290px;
   }
}