body {
  width: 100%;
  height: 100%;
  background-color: #540a24;
  margin: 0;
}
html {
  height: 100%;
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: white;
}

/*        HEADER       */

header {
  width: 100%;
  min-height: 70px;
  background-color: #94152d;
  display: flex;

}
.toLeft {
  display: block;
}

.headerText {
  justify-content: center;
  align-items: center;
  width: 88%;
  text-align: center;
  margin: 0;
  margin-right: 10px;
  color: white;
  font-family: Roboto, sans-serif;
}

/*         NAVBAR          */

.start {
  left: -280px;
}

.container {
  width: 20%;
  min-width: 280px;
  height: 92.8%;
  background-color: #94152d;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  text-align: center;
  color: white;
  transition: all 3s;
}
.sizeHead {
  flex-direction: row;
  justify-content: space-around;
  visibility: hidden;
  position: absolute;
}


/*           MAIN             */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  color: white;
  font-family: Roboto;
  margin-bottom: 2px;
}

p {
  font-size: 0.8em;
  font-family: Roboto;
  color: white;
  margin-right: 2%;
  margin-left: 2%;
}

img {
  width: 90%;
  min-width: 200px;
  height: 40%;
  min-height: 185px;
  border-radius: 5%;
  transition: 0.6s;
}
nav {
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
}


/*           Jhin style            */

.jhin-body {
  background-color: #540a24;
  transition: 1s;
}

.jhin-header {
  background-color: #94152d !important;
  transition: 1s;
}
.jhin-desk-head {
  background-color: #821d30 !important;
  transition: 1s;
}

/*         Cait style            */
.caitlyn-header {
  background-color: #216b73 !important;
  transition: 1s;
}
.caitlyn-body {
  background-color: #138994;
  transition: 1s;
}
.cait-desk-head {
  background-color: #1c7782 !important;
    transition: 1s;
}

/*          Kai'sa style           */

.kaisa-header {
  background-color: #202c6f !important;
  transition: 1s;
}
.kaisa-body {
  background-color: #07103e;
  transition: 1s;
}
.kaisa-desk-head {
  background-color: #071252 !important;
  transition: 1s;
}

/*          MF style           */

.mf-header {
  background-color: #3cada7 !important;
  transition: 1s;
}
.mf-body {
  background-color: #1d5452;
  transition: 1s;
}

.mf-desk-head {
  background-color: #008e86 !important;
  transition: 1s;
}

/*        MEDIA QUERIES        */

@media screen and (min-width: 700px) {
  .hamburger{
    visibility: hidden;
  }
  .container {
    visibility: hidden;
  }
  .sizeHead {
    display: flex;
    visibility: visible;
    position: relative;
    transition: 0.6s
  }
  .headerText {
    margin-right: 0;
    margin-left: 4%;
  }
  a nav {
    width: 100%;
    font-size: 1.5em;
  }
  .sizeHead:hover a{
    opacity: 0.5;
    transition: 0.6s
  }
.sizeHead a:hover {
    opacity: 1;
    transition: 0.6s;
  }
  img {
    width: 60%;
    min-width: 200px;
    height: 40%;
    min-height: 400px;
    border-radius: 5%;
    transition: 0.6s;
  }
  p {
    font-size: 1em;
    font-family: Roboto;
    color: white;
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1400px) {
  img {
    width: 48%;
    min-width: 200px;
    height: 20%;
    min-height: 200px;
    border-radius: 5%;
    transition: 0.6s;
  }
  p {
    font-size: 1em;
    font-family: Roboto;
    color: white;
    margin-right: 20%;
    margin-left: 20%;
  }
}
