.navbar{
    width: 250px;
    background-color:#f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    }
.navbar__button_active{
    background-color: #f9f9f9;
    outline: none;
}
.navbar__button{
    width:100%;
    border-style: none;
    cursor: pointer;
    height: 40px;
    font-size: 32px;
    background-color: #f1f1f1;
}
.navbar__button:hover {
    background-color: #f9f9f9;
}
.article__image {
    float:left;
}


.article_active{
    display: block !important;
    max-width: 900px;
    margin: auto;
    font-size: 18px;
}
.article__header{
    text-align: center;
}

.article {
    display: none;
}

@media screen and (max-width: 1400px) {
    .article_active{
        display: block;
        max-width: 1000px;
        width:100%;
    }
    .navbar {
        position: relative;
        width: 100%;

    }

}
@media screen and (max-width: 800px) {
    .article_active{
        width:100%;
    }
    .article__image {
        display: block;
        float: none;
        margin: auto;
    }
    .navbar {
        position: relative;
        width: 100%;

    }
}
